.RefundContainer {
    /* border: 2px solid white; */
    color: #999999;
    font-family: "Outfit";


}

.RefundContent div {
    line-height: 24px;
    margin-bottom: 24px;
}

.RefundContent ul {
    margin-left: 25px;
}

.RefundContent div:first-child {
    font-family: "Barlow Condensed";
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}

.RefundContent div:nth-child(2),
.RefundContent div:nth-child(6),
.RefundContent div:nth-child(7),
.RefundContent div:nth-child(9),
.RefundContent div:nth-child(10),
.RefundContent div:nth-child(12),
.RefundContent div:nth-child(18),
.RefundContent div:nth-child(25),
.RefundContent div:nth-child(29),
.RefundContent div:nth-child(32) {
    color: #E0E0E0;
}

li a {
    color: #999999;
    text-decoration: none;
}

.Footer .row .col-lg-6:nth-child(2) nav ul li a {
    text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {

    /* .container-fluid .row{ */
    .RefundContent {
        /* margin-top: 50px !important; */
        /* margin-bottom: 150px !important; */
        /* margin: 20px 0; */
        padding: 24px !important;
    }
    .RefundContent ul li{
        width: 90%;
    }
    

}